@import '../base/src/styles/quarks';

body {
    background-color: $background-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .container {
        background-color: $white;
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px;

        article {
            margin-top: $spacer * 2;
            padding: $spacer;

            .a-input {
                margin-top: $spacer;
            }
        }
    }

    @include to($screen-md) {
        margin: 0;
        width: 100%;
    }
}
